
<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 bottomborder" ></div>
<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 bottomborder3" ></div>
<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 bottomborder2" ></div>

