<!-- 		<div class="picture row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 section section1">
			<a href="#" class="col-lg-4 col-md-4 col-sm-4 col-xs-11"><img src="https://pp.vk.me/c638728/v638728670/1bc9f/CoX36iEpun8.jpg" alt="mainscreenshot" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 img-responsive"></a>
			<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
				<h1>Login App</h1>
				<p>This is a user login and registration app using Node.js, Express, Passport and Mongoose.</p>
				<a target="_blank" href="https://github.com/eVtiel/LoginApp">https://github.com/eVtiel/LoginApp</a>
			</div>
		</div>
		<% include ../partials/line.ejs %>
	</div> -->
	<div class="picture row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 section section2 sectionHeight">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 tmproject">
				<h2 class="col-lg-7 col-md-7 col-sm-7 col-xs-12">What is Near me</h2>
				<p class="col-lg-3 col-md-3 col-sm-3 hidden-xs icons">&#x106; &#x104; &#x105; &#x103; &#x102; &#x101; </p>
			</div>
<!-- 			<div class="listContainer"> -->
				<a target="_blank"  href="/nearme" class="col-lg-4 col-md-4 col-sm-4 col-xs-11"><img src="https://pp.vk.me/c639519/v639519670/a48/w_-Tw2yVc1M.jpg" alt="mainscreenshot" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 img-responsive imgHover"></a>
				<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
					<a target="_blank"  href="/nearme" >What is Near Me</a>
					<p>Simple AngularJS app for exploring NYC. Using LeaFlet and Wikipedia API.</p>
					<a target="_blank" href="https://github.com/eVtiel/What-is-near-me">&#x108;</a>
				</div>
			<!-- </div> -->
		</div>
	<% include ../partials/line.ejs %>
	</div>

	<div class="picture row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 section section2 sectionHeight">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 tmproject">
				<h2 class="col-lg-7 col-md-7 col-sm-7 col-xs-12">Flip Board</h2>
				<p class="col-lg-3 col-md-3 col-sm-3 hidden-xs icons">&#x104; &#x105; &#x103; &#x102; &#x101; </p>
			</div>
			<a target="_blank" href="/flipboard" class="col-lg-4 col-md-4 col-sm-4 col-xs-11"><img src="https://pp.vk.me/c638728/v638728670/1bc91/m4pzl3NRk8E.jpg" alt="mainscreenshot" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 img-responsive"></a>
			<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
				<a target="_blank" href="/flipboard">Flip Board</a>
				<p> Simple site with a jQuery slider</p>
				<a target="_blank" href="https://github.com/eVtiel/flipboard">&#x108;</a>
			</div>
		</div>
		<% include ../partials/line.ejs %>
	</div>
					<div class="picture row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 section section2 sectionHeight">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 tmproject">
					<h2 class="col-lg-7 col-md-7 col-sm-7 col-xs-12">Book Shelf</h2>
					<p class="col-lg-3 col-md-3 col-sm-3 hidden-xs icons">&#x106; &#x104; &#x105; &#x103; &#x102; &#x101; </p>
				</div>

				<a target="_blank"  href="/bookshelf" class="col-lg-4 col-md-4 col-sm-4 col-xs-11"><img src="https://pp.vk.me/c638728/v638728670/1bc8a/8qvlTUO-RsU.jpg" alt="mainscreenshot" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 img-responsive"></a>
				<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
					<a target="_blank"  href="/bookshelf">Book Shelf</a>
					<p>Exploring the basics of AngularJS.</p>
					<a target="_blank" href="https://github.com/eVtiel/bookshelf">&#x108;</a>
				</div>
			</div>
		<% include ../partials/line.ejs %>
		</div>
	<div class="picture row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 section section2 sectionHeight">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 tmproject">
				<h2 class="col-lg-7 col-md-7 col-sm-7 col-xs-12">Out Box</h2>
				<p class="col-lg-3 col-md-3 col-sm-3 hidden-xs icons">&#x106; &#x104; &#x103; &#x102; &#x101; </p>
			</div>
			<a target="_blank" href="/outbox" class="col-lg-4 col-md-4 col-sm-4 col-xs-11"><img src="https://pp.vk.me/c626225/v626225670/440b8/zitehaei8_I.jpg" alt="mainscreenshot" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 img-responsive"></a>
			<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
				<a target="_blank" href="/outbox">Out Box</a>
				<p>Another example of basics of AngularJS</p>
				<a target="_blank" href="https://github.com/eVtiel/outbox">&#x108;</a>
			</div>
		</div>
		<% include ../partials/line.ejs %>
	</div>


		<div class="picture row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 section section2 sectionHeight">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 tmproject">
					<h2 class="col-lg-7 col-md-7 col-sm-7 col-xs-12">Status Box</h2>
					<p class="col-lg-3 col-md-3 col-sm-3 hidden-xs icons"> &#x104; &#x105; &#x103;</p>
				</div>

				<a target="_blank" href="/statusbox" class="col-lg-4 col-md-4 col-sm-4 col-xs-11"><img src="https://pp.vk.me/c638728/v638728670/1bca6/OeljmRVERIc.jpg" alt="mainscreenshot" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 img-responsive"></a>
				<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
					<a target="_blank" href="/statusbox">Status Box</a>
					<p>Small jQuery component with limit on number of characters.</p>
					<a target="_blank" href="https://github.com/eVtiel/status-boxjs">&#x108;</a>
				</div>
			</div>
		<% include ../partials/line.ejs %>

		</div>
		<div class="picture row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 section section2 sectionHeight">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 tmproject">
					<h2 class="col-lg-7 col-md-7 col-sm-7 col-xs-12">The Gym</h2>
					<p class="col-lg-3 col-md-3 col-sm-3 hidden-xs icons">&#x104; &#x102; &#x101; </p>

				</div>
				<a target="_blank" href="/gym" class="col-lg-4 col-md-4 col-sm-4 col-xs-11"><img src="https://pp.vk.me/c638728/v638728670/1bc98/S9aSeOzn4J0.jpg" alt="mainscreenshot" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 img-responsive"></a>
				<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
					<a target="_blank" href="/gym">The Gym</a>
					<p>Another example of responsive site with a jQuery slider<p>
					<a target="_blank" href="https://github.com/eVtiel/gym">&#x108;</a>
				</div>
			</div>
		<% include ../partials/line.ejs %>
		</div>

		<div class="picture row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 section section2 sectionHeight">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 tmproject">
					<h2 class="col-lg-7 col-md-7 col-sm-7 col-xs-12">Meet Junction</h2>
					<p class="col-lg-3 col-md-3 col-sm-3 hidden-xs icons">&#x103; &#x102; &#x101; </p>

				</div>
				<a target="_blank" href="/mj" class="col-lg-4 col-md-4 col-sm-4 col-xs-11"><img src="https://pp.vk.me/c626225/v626225670/440de/Cz4EupYHfvQ.jpg" alt="mainscreenshot" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 img-responsive"></a>
				<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
					<a target="_blank" href="/mj">Meet Junction</a>
					<p>Simple and responsive design<p>
					<a target="_blank" href="https://github.com/eVtiel/meet-junction">&#x108;</a>
				</div>
			</div>
		<% include ../partials/line.ejs %>
		</div>

		<div class="picture row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 section section2 sectionHeight">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 tmproject">
					<h2 class="col-lg-7 col-md-7 col-sm-7 col-xs-12">Pocketbook</h2>
					<p class="col-lg-3 col-md-3 col-sm-3 hidden-xs icons">&#x103; &#x102; &#x101; </p>

				</div>
				<a target="_blank" href="/pocket" class="col-lg-4 col-md-4 col-sm-4 col-xs-11"><img src="https://pp.vk.me/c626225/v626225670/440d6/xafkVycs3VQ.jpg" alt="mainscreenshot" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 img-responsive"></a>
				<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
					<a target="_blank" href="/pocket">Pocketbook</a>
					<p>Simple and responsive design<p>
					<a target="_blank" href="https://github.com/eVtiel/Pocketbook">&#x108;</a>
				</div>
			</div>
		<% include ../partials/line.ejs %>
		</div>

		<div class="picture row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 section section2 sectionHeight">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 tmproject">
					<h2 class="col-lg-7 col-md-7 col-sm-7 col-xs-12">Introducing Shutterbugg</h2>
					<p class="col-lg-3 col-md-3 col-sm-3 hidden-xs icons">&#x103; &#x102; &#x101; </p>

				</div>
				<a target="_blank" href="/is" class="col-lg-4 col-md-4 col-sm-4 col-xs-11"><img src="https://pp.vk.me/c626225/v626225670/440ce/Kl8fKQR4Onw.jpg" alt="mainscreenshot" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 img-responsive"></a>
				<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
					<a target="_blank" href="/is">Introducing Shutterbugg</a>
					<p>Simple and responsive design<p>
					<a target="_blank" href="https://github.com/eVtiel/Introducing-Shutterbugg">&#x108;</a>
				</div>
			</div>
		<% include ../partials/line.ejs %>
		</div>


