html, body {
  margin: 0;
  padding: 0;
  font-family: 'Libre Baskerville', sans-serif;
}

.header h1 {
  color: #000;
}

.nav {

}

.container {
  max-width: 980px;
  margin: 0 auto;
}

.jumbotron {
  background-color: transparent;
}

.jumbotron h1 {
  text-shadow: none;
  font-size: 50px;
  margin: 100px 40px 120px;
}

.banner {
  background: #333;
}

.banner h1, p {
  color: #fff;
  text-align: center;
}

.cards {
  background: #ffc200;
  padding-bottom: 50px;
}

.cards h1 {
  text-align: center;
  margin: 70px 0 40px;
}

.cards img {
  margin-top: 20px;
}

.cards img:hover {
  cursor: pointer;
}

.footer {
  background: #333;
  padding: 55px 0 45px;
  text-align: center;
}

.footer h3 {
  font-size: 22px;
}

.footer p {
  font-size: 11px;
}

.footer h3, p{
  color: #fff;
}

.footer img {
	margin: -10px 3px 0 ;  
}

.footer img:hover {
  cursor: pointer;
}

.ash {
  margin: 110px 0 0 40px;
}

@media (max-width: 992px) {
  .col-md-4 {
    margin: 0 auto 0;
    text-align: center;
    width: 100%;
  }
  .cards img {
    width: 60%;
  }
}

@media (max-width: 500px) {
  .header h1 {
    text-align: center;
  }

  .nav li {
    text-align: center;
    width: 100%;
  }

  .cards img {
    width: 100%;
  }
}