<!doctype html>
<html>
  <head>
      <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300,900' rel='stylesheet' type='text/css'>
    <link href="https://s3.amazonaws.com/codecademy-content/projects/bootstrap.min.css" rel="stylesheet" />
    <link href="stylesheets/bookshelf.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.2.28/angular-route.min.js"></script>

  </head>
  <body ng-app="ReaderApp">
    <div class="header">
      <div class="container">
        Reader
      </div>
    </div>

    <div class="main">
      <div ng-view></div>
      <div class="container">

        

      </div>
    </div>

    <!-- Modules -->
    <script src="/js/bkjs/app.js"></script>

    <!-- Controllers -->
    <script src="/js/bkjs/controllers/BookshelfController.js"></script>
    <script src="/js/bkjs/controllers/BookController.js"></script>
    <script src="/js/bkjs/controllers/ChapterController.js"></script>

    <!-- Services -->
    <script src="/js/bkjs/services/books.js"></script>

  </body>
</html>
