<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="stylesheets/gym.css">
	<link rel="stylesheet" href="stylesheets/blueberry.css">
</head>
<body>
	<header>
	<a href="#" id="logo">The Gym</a>
	<nav>
		<a href="#" id="menu-icon"></a>
		<ul>
			<li> <a href="#" class="current">Home</a></li>
			<li> <a href="#">Trainers</a></li>
			<li> <a href="#">Plans</a></li>
			<li> <a href="#">Pricing</a></li>
			<li> <a href="#">Fasility</a></li>
			<li> <a href="#">Contact</a></li>
		</ul>
	</nav>
	</header>

	<div id="doc">
		<div id="content">
			<div class="blueberry">
				<ul class="slides">
					<li><img src="http://www.w3newbie.com/wp-content/uploads/inside-gym.png" alt=""></li>
					<li><img src="http://www.w3newbie.com/wp-content/uploads/push-ups.png" alt=""></li>
					<li><img src="http://www.w3newbie.com/wp-content/uploads/chest-fly.png" alt=""></li>
					<li><img src="http://www.w3newbie.com/wp-content/uploads/training.png" alt=""></li>
				</ul>
			</div>
		</div>
	</div>
	<section>
		<img src="http://www.w3newbie.com/wp-content/uploads/trainers.png" alt="">
		<h1>Best Trainers Around!</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam facilis sequi reprehenderit similique eum molestias nesciunt, iure quisquam quasi laudantium quo itaque odit doloremque saepe illo accusamus sint. Aperiam magni quos voluptas mollitia nemo expedita commodi quam corrupti totam consectetur ipsam quidem soluta necessitatibus, rerum reprehenderit at sint aspernatur. Facilis?</p>
	</section>

	<section>
		<img src="http://www.w3newbie.com/wp-content/uploads/location.png" alt="">
		<h1>Local & Convenient.</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam facilis sequi reprehenderit similique eum molestias nesciunt, iure quisquam quasi laudantium quo itaque odit doloremque saepe illo accusamus sint. Aperiam magni quos voluptas mollitia nemo expedita commodi quam corrupti totam consectetur ipsam quidem soluta necessitatibus, rerum reprehenderit at sint aspernatur. Facilis?</p>
	</section>

	<section>
		<img src="http://www.w3newbie.com/wp-content/uploads/check.png" alt="">
		<h1>Check Us Out - Free</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam facilis sequi reprehenderit similique eum molestias nesciunt, iure quisquam quasi laudantium quo itaque odit doloremque saepe illo accusamus sint. Aperiam magni quos voluptas mollitia nemo expedita commodi quam corrupti totam consectetur ipsam quidem soluta necessitatibus, rerum reprehenderit at sint aspernatur. Facilis?</p>
	</section>
	<div class="clear"></div>
	<article>
		<img src="http://www.w3newbie.com/wp-content/uploads/gym-classes.jpg" alt="">
	</article>
	<aside>
		<h2>Our Group Class Schedule:</h2>
		<ul class="gym">
			<li><h3>Studio Cycling at 8 a.m. - 60 minutes</h3></li>
			<li><h3>Abs Sculpting at 12 p.m. - 30 minutes</h3></li>
			<li><h3>Power Yoga at 10 a.m. - 60 minutes</h3></li>
			<li><h3>Boot Camp at 2 p.m. - 30 minutes</h3></li>
			<li><h3>Butt Sculpting at 4 p.m. - 60 minutes</h3></li>
		</ul>
	</aside>
	<div class="clear"></div>
	<section>
		<h1>Ladies Section</h1>
		<img src="http://www.w3newbie.com/wp-content/uploads/ladies-gym.jpg" alt="">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore enim maiores tempore fugit adipisci nisi labore fuga ipsam, ab minima, rerum ducimus, similique hic voluptatum officia aut veniam ex cupiditate.</p>
	</section>
		<section>
		<h1>The Gym Floor</h1>
		<img src="http://www.w3newbie.com/wp-content/uploads/gym-floor.jpg" alt="">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam voluptate rerum quia dolore dicta odio officiis eos porro voluptatum eum distinctio sit, maxime numquam doloribus, repellendus provident perferendis voluptas perspiciatis.</p>
	</section>
		<section>
		<h1>Free Weights</h1>
		<img src="http://www.w3newbie.com/wp-content/uploads/free-weights.jpg" alt="">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam ipsa fuga aliquid necessitatibus temporibus quia, unde, eaque incidunt ab sed rem adipisci, modi molestias voluptate iure quibusdam enim repellat consequatur.</p>
	</section>
	<footer>
		<section>
			<h3><b>The Gym</b></h3>
			<p><b>215-555-5555</b><br><br>
			1700 chestnut Street <br>
			Philadelphia, Pa 19100 <br>
			Trainer@thegym.com</p>
		</section>
		<section>
			<h3><b>Connect With Us!</b></h3>
			<ul class="social">
				<li><a href="#"><img src="http://www.w3newbie.com/wp-content/uploads/facebook1.png" alt=""></a></li>
				<li><a href="#"><img src="http://www.w3newbie.com/wp-content/uploads/googleplus.png" alt=""></a></li>
				<li><a href="#"><img src="http://www.w3newbie.com/wp-content/uploads/twitter1.png" alt=""></a></li>
				<li><a href="#"><img src="http://www.w3newbie.com/wp-content/uploads/youtube1.png" alt=""></a></li>
			</ul>
		</section>
		<section>
			<img src="http://www.w3newbie.com/wp-content/uploads/weight-lifter.png" alt="">
		</section>
	</footer>
	<footer class="second">
		<p>@Copyright - The Gym, 2015.</p>
	</footer>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	<script src="/js/gym.js"></script>
   <script src="/js/blueberry.js"></script>
   <script src="/js/jquery.blueberry.js"></script>

</body>
</html>