<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Alex Shapovalov</title>
	<link href="https://s3.amazonaws.com/codecademy-content/projects/bootstrap.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="stylesheets/main.css">
	<link href="https://fonts.googleapis.com/css?family=Rancho" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Alegreya|Bree+Serif|Source+Sans+Pro" rel="stylesheet">
</head>
<body>
		
	<div class="homepage-hero-module">
	    <div class="video-container">
	        <div class="filter"></div>
	        <video autoplay loop class="fillWidth">
	            <source src="video/Window-Snow/MP4/Window-Snow.mp4" type="video/mp4" />Your 	browser does not support the video tag. I suggest you upgrade your browser.
	            <source src="video/Window-Snow/WEBM/Window-Snow.WEBM" type="video/webm" />	Your browser does not support the video tag. I suggest you upgrade your 	browser.
	        </video>
	        <div class="poster hidden">
	            <img src="video/Window-Snow/snapshots/Window-Snow.jpg" alt="">
	        </div>
	    </div>
	</div>

	<div id="loader-wrapper">
		<div id="loader">
			<div class="loader-section section-left"></div>
			<div class="loader-section section-right"></div>
			<div class='demo'>
  				<div class='circle'>
    				<div class='inner'></div>
  				</div>
  				<div class='circle'>
    				<div class='inner'></div>
  				</div>
  				<div class='circle'>
    				<div class='inner'></div>
  				</div>
  				<div class='circle'>
    				<div class='inner'></div>
  				</div>
  				<div class='circle'>
    				<div class='inner'></div>
  				</div>
			</div>
		</div>
	</div>
	
	<div class="name z1">Aleksandr Shapovalov</div>

	<div class="container-fluid">

		<div class="row buttons">
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 button" id="resumeButton"><span>Resume</span></div>
		</div>

		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 projects">Projects</div>
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 bottomborderside" ></div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 bottomborder" ></div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 bottomborder3" ></div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 bottomborder2" ></div>
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 bottomborderside" ></div>
		</div>

		<div class="picture row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 section section1">
				<a target="_blank" href="#" class="col-lg-4 col-md-4 col-sm-4 col-xs-11"><img src="https://pp.vk.me/c638728/v638728670/1bc9f/CoX36iEpun8.jpg" alt="mainscreenshot" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 img-responsive"></a>
				<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
					<h1>Login App</h1>
					<p>This is a user login and registration app using Node.js, Express, Passport and Mongoose.</p>
					<a target="_blank" href="https://github.com/eVtiel/LoginApp">https://github.com/eVtiel/LoginApp</a>
				</div>
			</div>
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 bottomborderside" ></div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 bottomborder" ></div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 bottomborder3" ></div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 bottomborder2" ></div>
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 bottomborderside" ></div>
		</div>
		<div class="picture row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 section section2">
				<a target="_blank" href="/nearme" class="col-lg-4 col-md-4 col-sm-4 col-xs-11"><img src="https://pp.vk.me/c639519/v639519670/a48/w_-Tw2yVc1M.jpg" alt="mainscreenshot" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 img-responsive"></a>
				<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
					<h1>What is Near Me</h1>
					<p>Simple AngularJS app for exploring NYC. Using LeaFlet and Wikipedia API.</p>
					<a target="_blank" href="https://github.com/eVtiel/nearme">https://github.com/eVtiel/WhatisNearMe</a>
				</div>
			</div>
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 bottomborderside" ></div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 bottomborder" ></div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 bottomborder3" ></div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 bottomborder2" ></div>
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 bottomborderside" ></div>
		</div>

		<div class="picture row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 section section2">
				<a target="_blank" href="/flipboard" class="col-lg-4 col-md-4 col-sm-4 col-xs-11"><img src="https://pp.vk.me/c638728/v638728670/1bc91/m4pzl3NRk8E.jpg" alt="mainscreenshot" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 img-responsive"></a>
				<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
					<h1>Flip Board</h1>
					<p> Simple site with a jQuery slider</p>
					<a target="_blank" href="https://github.com/eVtiel/flipboard">https://github.com/eVtiel/Flipboard</a>
				</div>
			</div>
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 bottomborderside" ></div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 bottomborder" ></div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 bottomborder3" ></div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 bottomborder2" ></div>
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 bottomborderside" ></div>
		</div>
						<div class="picture row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 section section2">
					<a target="_blank" href="/bookshelf" class="col-lg-4 col-md-4 col-sm-4 col-xs-11"><img src="https://pp.vk.me/c638728/v638728670/1bc8a/8qvlTUO-RsU.jpg" alt="mainscreenshot" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 img-responsive"></a>
					<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
						<h1>Book Shelf</h1>
						<p>Exploring the basics of AngularJS.</p>
						<a target="_blank" href="https://github.com/eVtiel/bookshelf">https://github.com/eVtiel/bookshelf</a>
					</div>
				</div>
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 bottomborderside" ></div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 bottomborder" ></div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 bottomborder3" ></div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 bottomborder2" ></div>
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 bottomborderside" ></div>
			</div>
			<div class="picture row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 section section2">
					<a target="_blank" href="/statusbox" class="col-lg-4 col-md-4 col-sm-4 col-xs-11"><img src="https://pp.vk.me/c638728/v638728670/1bca6/OeljmRVERIc.jpg" alt="mainscreenshot" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 img-responsive"></a>
					<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
						<h1>Status Box</h1>
						<p>Small jQuery component with limit on number of characters.</p>
						<a target="_blank" href="https://github.com/eVtiel/status-boxjs">https://github.com/eVtiel/status-boxjs</a>
					</div>
				</div>
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 bottomborderside" ></div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 bottomborder" ></div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 bottomborder3" ></div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 bottomborder2" ></div>
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 bottomborderside" ></div>
			</div>
			<div class="picture row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 section section2 noborder">
					<a target="_blank" href="/gym" class="col-lg-4 col-md-4 col-sm-4 col-xs-11"><img src="https://pp.vk.me/c638728/v638728670/1bc98/S9aSeOzn4J0.jpg" alt="mainscreenshot" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 img-responsive"></a>
					<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
						<h1>The Gym</h1>
						<p>Another example of responsive site with a jQuery slider<p>
						<a target="_blank" href="https://github.com/eVtiel/gym">https://github.com/eVtiel/gym</a>
					</div>
				</div>
			</div>

		<div class="row fores z1">
			<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 footer1"></div>
			<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 footer2">
				<a target="_blank" href="https://mail-attachment.googleusercontent.com/attachment/u/0/?ui=2&ik=c189dd9f16&view=att&th=158f4c5566f5b904&attid=0.1&disp=inline&realattid=f_iwmjoxfm0&safe=1&zw&saddbat=ANGjdJ_9gvrvL_2jxGXFbvoAJyPmfGe1R4aYqb1VjjrcHRXO5QUadmrWNFDkve6wMcAnDAYz34B28lcnPTBtJTHDiBHshx2ydS0heqQw2_lT3QIK6ucf4GDs6gOV8xYr09aabhYvIzX7bYYNQzCv-HrFYZJunUUv29VwzTZzdyaJS87nPtJiHs0VWuMg7KdF2FLnK4w9wclg7slV6UE9ES7mvYKqCg6JgsQbVQaIbEcVGtrJa3H2xZTWQeY3GHpja9ZForpc3dcR8062fBmkJlEo0nAjcYNH-IYRFSPjxTNOs8r7zv0el5-eplQyTLii0QyqizDZRhLXI7HQBIkV-3KRg9_6Zd8p6Oh5gL1le_dPa7IPPI8Tx5_qOEFgvqX8dFZdJO_EiXGhszvpr-IHmRope4364NDO-tTJLZraFbtaPlBIPU-p5VK-nNSMgRf2jqWyzD_dsybRz6xmYaZXXhIxiA0BRE1okyGsje6wPoOEkUuCGWTxWMp1rVS2E-8fhXBtnJt6uo_W6TExrVjoCg-NHcA_IoSrRi8ZBFhVNF0u9VvcQ3Liswact8dRMeqm3kwA6MeoO9OBOO59GzDk3RPNgrObNSzJblM6B-1PvpNIh6dywaVKP8H-RZM0bS4GDDLySJFc1dmJcKDjG5hJbJhJVpYZt3z9E4G6bP3ZxA">
					<img src="https://pp.vk.me/c638728/v638728670/1bcad/qYx9z1HM1a8.jpg" alt="linktoresume" class="img-responsive">
				</a>
			</div>
		</div>
	</div>

	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"script></script>
	<script src="js/video.js"></script>
	<script src="js/common.js"></script>
	<script src="js/main.js"></script>
	<!-- <script src="js/prefixfree.min.js"></script> -->
</body>
</html>	