<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Alex Shapovalov</title>
		<% include ../partials/head.ejs %>
</head>
<body>
<!-- 	<video autoplay loop muted class="bgvideo" id="bgvideo">
   	<source src="video/Window-Snow/MP4/Window-Snow.mp4" type="video/mp4"></source>
   </video>
 -->
	<div class="homepage-hero-module">
	    <div class="video-container">
	        <div class="filter"></div>
	        <video autoplay loop class="fillWidth">
	            <source src="video/Window-Snow/MP4/Window-Snow.mp4" type="video/mp4" />Your 	browser does not support the video tag. I suggest you upgrade your browser.
	            <source src="video/Window-Snow/WEBM/Window-Snow.WEBM" type="video/webm" />	Your browser does not support the video tag. I suggest you upgrade your 	browser.
	        </video>
	        <div class="poster hidden">
	            <img src="video/Window-Snow/snapshots/Window-Snow.jpg" alt="">
	        </div>
	    </div>
	</div>

	<div id="loader-wrapper">
		<div id="loader">
			<div class="loader-section section-left"></div>
			<div class="loader-section section-right"></div>
			<div class='demo'>
  				<div class='circle'>
    				<div class='inner'></div>
  				</div>
  				<div class='circle'>
    				<div class='inner'></div>
  				</div>
  				<div class='circle'>
    				<div class='inner'></div>
  				</div>
  				<div class='circle'>
    				<div class='inner'></div>
  				</div>
  				<div class='circle'>
    				<div class='inner'></div>
  				</div>
			</div>
		</div>
	</div>
	
	<div class="name z1">Aleksandr Shapovalov</div>

	<div class="container-fluid">

		<div class="row buttons">
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 button" id="resumeButton"><span>Resume</span></div>
		</div>

		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 projects">Projects <span id="allProjects">all</span></div>
		<% include ../partials/line.ejs %>
			</div>
		<% include ../partials/projects.ejs %>

		<div class="row fores z1">
			<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 footer1">
				<h4 style="color: #eee">Dear Hiring Manager</h4>
				<p class="cover">Currently i'm looking for position as a web developer or intern web developer, my organized nature and personal attitude make me a great candidate for this position. I take ownership of tasks quickly, I’m a creative problem solver and I’m adept at problem solving. <br /><br />
				Additionally, I have experience in:<br /><br />
				&#8226<span class="coverspan">The ability of self-learning by books, tutorials, online courses.</span><br />
				&#8226<span class="coverspan">Solid experience with Adobe products including: Photoshop, Premier Pro.</span><br />
				&#8226<span class="coverspan">Understanding how to make tutorials and entertainment content for YouTube watchers.</span><br />
				&#8226<span class="coverspan">Familiarity how to work with clients.</span><br /><br />
				Working at your company would allow me to implement my communication, professional skills and let me grow as senior full stack developer.<br /><br />
				Please take a moment to attach my resume. I believe I have the qualifications what you need and I look forward to hearing from you soon.<br /><br />
				Sincerely,<br /><br /><br />
				Aleksandr Shapovalov.
				</p>
			</div>
			<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 footer2">
				<a target="_blank" href="https://mail-attachment.googleusercontent.com/attachment/u/0/?ui=2&ik=c189dd9f16&view=att&th=159ad2cc6f2fed7b&attid=0.1&disp=inline&realattid=f_iy1pnhn90&safe=1&zw&saddbat=ANGjdJ9tsNqe4HZJfWp6uddLCaeP7h7lpL9Ou3XVV_-0IJha6xvomsgKRDdmWojXYg7sxx57534Sq_iEBubQa-54MaJ-SyTm_x56TXkeLX4Dw9ycGRC675K3edo8DER_QhEJZuBMzcBBXrSLY2mQgzV-oVhKxAtGTvJjpDkjV2oTzAJctj_ptqWT1oXQ7O1L9OU7fVX0B9U0z2gXpDCmyuhANh0AQQgdw6-BoQy1ay372jHkZ9tO7yCIJ8iBdSUySpoBg0sJ_vnXvfdiSW9IMpC00cUld4NphSw1k5zKLrsUv2zPQo25PiLKo6rfkIZXii8sEIivScY3e9XqHUBTui2JnR7mUwKwGBdKiZkjnlkEQQwf5FH1yWSKRIiqBMqNfA8QlSUbkTLw4gz6nZvGNFZdKW-fYq_qgrAxLPJ6SfWLiqzOmC_-WMoEmJMm_27RHZABUY2zjox9sTtNjDnWv7jYakiUka_67RbOFVVel_IT7PJHcrfYRj28qxNANkFxn6G6bsnJAwkjmHiBJwWDlJzPjSwKCDKfkG9zca3WjUSMbbEloJswk6SezZF3BDuINWXvhBf-47LOkbpLqPiEVX5NsV-RZ3BMMN463dF6XQJRrZVQCNREYV2HTQ_9NoNC-M6z477ilPTt18QLSL00Gjm7-YBovJxl7IrCDxyzeg">
					<img src="https://pp.vk.me/c626225/v626225670/44133/wYG3zEWPSVI.jpg" alt="linktoresume" class="img-responsive">
				</a>
			</div>
		</div>
	</div>

	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"script></script>
	<script src="js/video.js"></script>
	<script src="js/common.js"></script>
	<script src="js/main.js"></script>
	<!-- <script src="js/prefixfree.min.js"></script> -->
</body>
</html>	